.h1{
    font-style: bold;
    text-align: center;
    color: white;
}
.p{
    font-family:'Gill Sans', sans-serif;
    color: greenyellow;
    text-align: center;
}
.body{
    background-color: darkslateblue;
}
